<div id="wrapper">
  <%= render 'layouts/header'%>
  <main>
    <%= render 'products/top_image'%>
    <section class="py-5 bg-light">
      <h2 class="pickup-head text-center pb-3">新着アイテム</h2>
      <div class="container">
        <div class="row">
          <% @products.each do |product|%>
            <div class="col-sm-6 col-md-3 mb-3">
              <div class="card">
                <%= image_tag("#{product.picture}", class: "card-img-top")%>
                <div class="card-body">
                  <h4 class="card-title"><%= product.name %></h4>
                  <p>¥<%= product.price.to_s(:delimited) %>円</p>
                  <%=link_to "購入画面", product, class: "btn btn-outline-secondary" %>
                  <% if user_signed_in? && current_user.already_liked?(product) %>
                    <%=link_to "いいね解除", product_like_path(product,current_user), method: :delete, class: "btn btn-outline-secondary" %>
                  <% else%>
                    <%=link_to "いいね！", product_likes_path(product), method: :post, class: "btn btn-outline-secondary" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="col-12 text-right">
            <%= link_to "すべての商品を見る", products_path %>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= render 'layouts/footer'%> 
</div>