<%= render 'layouts/header'%>
<hr>
<main>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2 class="category-list-head pb-3">カテゴリー一覧</h2>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <% @categories.each do |category|%>
                        <%= search_form_for @q, url: products_path do |f| %>
                            <%= f.hidden_field :categories_name_cont, value: category.name %>
                            <%= f.submit "#{category.name}", class: "btn btn-outline-secondary mb-2"%>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
</main>
<%= render 'layouts/footer'%> 