<div class="col-3 mr-5">
  <div class="card">
    <div class="list-group">
      <%= link_to "マイページ", profile_path(current_user), class: 'btn btn-default list-group-item list-group-item-action' %>
      <%= link_to "出品する", new_product_path, class: 'btn btn-default list-group-item list-group-item-action' %>
      <%= link_to "出品した商品-出品中", user_products_path, class: 'btn btn-default list-group-item list-group-item-action' %>
      <%= link_to "出品した商品-取引中", user_products_inprocess_index_path, class: 'btn btn-default list-group-item list-group-item-action' %>
      <%= link_to "出品した商品-売却済", user_products_sold_index_path, class: 'btn btn-default list-group-item list-group-item-action' %>
      <%= link_to "購入した商品", purchases_path, class: 'btn btn-default list-group-item list-group-item-action' %>
      <%= link_to "いいね！した商品", likes_path, class: 'btn btn-default list-group-item list-group-item-action' %>
    </div>
  </div>
</div>